<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uhk.watchdog.watchdogmobile">

    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.NETWORK"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".app.AppCore">

        <activity
            android:name="uhk.watchdog.watchdogmobile.gui.startActivity.StartActivity"
            android:theme="@style/AppTheme"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="uhk.watchdog.watchdogmobile.gui.mainScreen.MainActivity"
            android:theme="@style/AppTheme"
            android:label="@string/app_name">
        </activity>

        <service android:enabled="true"
            android:name=".app.service.WatchDogService" />

        <activity
            android:name=".gui.activities.about.AboutActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:parentActivityName=".gui.mainScreen.MainActivity" >
            <!-- Parent activity meta-SampleDAO to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".gui.mainScreen.MainActivity" />
        </activity>

        <activity
            android:name=".gui.activities.setting.SettingActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:parentActivityName=".gui.mainScreen.MainActivity" >
            <!-- Parent activity meta-SampleDAO to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".gui.mainScreen.MainActivity" />
        </activity>



    </application>


</manifest>